.container {
    display: flex;
    width: 96vw;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 35vw;
    padding-top: 4px;
    display: flex;
}

.styledlogo {
    max-width: 100%;
}

.icons {
    display: flex;
    align-items: center;
}

.iconlink {
    padding: 0;
    display: flex;
}

.search {
    margin-right: 3.6vw;
    width: 5.0vw !important;
    height: 5.0vw;
}

.divi {
    position: relative;
    height: 6.0vw;
}

.cart {
    fill: black;
    margin-right: 4vw;
    height: 5.5vw;
}

.text {
    position: absolute;
    top: 30%;
    right: 61%;
    font-size: 2.66667vw;
}